ul {
    list-style-type: none;
}

.li {
    margin-bottom: 10px;
    border-bottom: 1px solid #2f54d6;
    text-align: right;
}


input {
    margin: 20px 0;
}

.div1 {
    display: flex;
    gap: 60px;
}